PyYAML
argparse
oslo.config
oslo.i18n
oslo.serialization
oslo.utils
python-apt
python-cinderclient
python-glanceclient
python-keystoneclient
python-novaclient
python-openstackclient
python-quantumclient
python-swiftclient
sh
